# Ignorovať Git metadáta
.git
.gitignore

# Logy a dočasné súbory
*.log
*.bak
*.swp
*.tmp

# Ignorovať citlivé údaje


# Ignorovať Docker súbory, ak nie sú potrebné v kontajneri
docker-compose.yml
dockerfile

#README.md
README.md