services:
  drta-server:
    build:
      context: .  # Cesta k prieÄinku s Dockerfile
      dockerfile: Dockerfile
    container_name: totp-server
    ports:
      - "443:443"
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - traefik-net

networks:
  traefik-net:
    external: true