version: '3.8'

services:
  totp-server:
    build:
      context: .  # Cesta k prieÄinku s Dockerfile
      dockerfile: Dockerfile
    container_name: totp-server
    ports:
      - "443:443"
    env_file:
      - .env
    restart: unless-stopped
