version: '3.8'

services:
  totp-server:
    build:
      context: .  # Cesta k prieÄinku s Dockerfile
      dockerfile: Dockerfile
    container_name: totp-server
    ports:
      - "8443:443"
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - .:/app  # Map the entire directory to the container
    restart: unless-stopped
